$main: #32474b;
$secondary: #286664;
$grey1: #FAF9FA;
$grey2: #F0F0F0;
$grey3: #E3E3E3;

* {
    box-sizing: border-box;
    margin: 0px;
}


body{
    font-family: 'Roboto', sans-serif;
    color: $main;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    margin: 20vh auto 0 auto;
    align-items: center;
    background-color: $grey2;

}

.login, .register{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    align-items: center;
    gap: 30px;

    label{
        display: none;
    }
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    align-items: center;

}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;

    input{
        font-family: 'Roboto', sans-serif;
        margin-top: 10px;
        background-color: $grey3;
    }

    button{
        margin-top: 30px;
        background-color: $secondary;
        color: white;
        text-transform: uppercase;

        &:hover{
            cursor: pointer;
        }
    }

    .error-message{
        text-align: center;
        padding-top: 10px;
        color: red;
    }

    button, input{
        padding: 15px 30px;
        border-radius: 30px;
        font-size: 18px;
        width: 20vw;
        border: none;
    }
}

header{
    background-color: $secondary;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20vw 0 20vw;
    color: white;
    font-size: 30px;
}

table{

    thead>tr{

    
        th{
            background-color: $secondary;
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    tbody>tr>td{
        padding: 20px;

    }

    padding: 0;
    background-color: white;
    display: block;
    margin: 40px auto 20px auto;
    list-style-type: none;
}